

<div id="fullspectrum" style="height: 50px; width: 100%;"> </div> 
    
<div id="spectrum" style="height: 420px; width: 100%;"> </div>  


<script type="text/javascript">

var cont,cont2, data, opt,chipit; 
cont  =   document.getElementById("spectrum");
cont2 =  document.getElementById("fullspectrum");
data =  <%= @plotdx.xy %>;
opt = {
        title: "<%= @plotdx.TITLE %> - <%= @plotdx.TYPE %> ",
        xaxis: {
                 title: "<%= @plotdx.SYMBOL[0] %> ( <%= @plotdx.UNITS[0]  %> )",
                 directionReversed: <%=@plotdx.xaxis_reversed%>,
               },
        yaxis: {
                title: "<%= @plotdx.SYMBOL[1] %> ( <%= @plotdx.UNITS[1] %> )",
                titleAngle: 90, 
                autoscale: false     
               },
        spreadsheetJdx: { 
                          show: true,
                          tickFormatter: function(e) {return e + '';},
                          ldrS: {'Headers' : <%= @plotdx.ldr.to_json.html_safe %> }//{'Headers' : {'TITLE': 'notitle','OWNER': 'nobody'},}         
                              },
        // spreadsheetJdx: {ldrSeries: {'Headers' : {'TITLE': 'notitle','OWNER': 'nobody'},
                                     // 'Sample info' : {},
                                     // 'Spectral parameters' :  {'NPOINTS': '1024','SYMBOL': 'X,N'},
                                     // 'Specific parameters' :  {}, 
                                   // },
                     //   },     
       };
chipit = {datasetid: <%= @dataset.id%>,
          page: 0,
          block: 0,
          }     ;
     

dual_mouse_zoom2(cont,cont2, data, opt, chipit);

</script>






