<% @showsidebar = true %>

<% content_for :sidebar_switch do @showsidebar = true end %>

<% content_for :sidebar do %>

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          
  <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Permissions</h3>
        </div>

        <div class="panel-body">


          <p>Element Creator: <%= User.find(@project_library.user_id).firstname + " "+ User.find(@project_library.user_id).lastname %></p>

          <p>Your role in the current project: <%= @project.role_str(current_user) %></p>
            
          </div>
        </div>
    </div>
  
<% end %>

<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">


      <div class="well">

        <% @currentitem = "samples" %>

        <%= render 'layouts/moleculesmenu', :category => "samples", :project_id => @project.id %>

      </div>

      <%= render 'layouts/databasemenu', :category => "samples", :project_id => @project.id %>


        <%= render 'layouts/projectsmenu', :category => "samples", :project_id => @project.id %>


    </div>
  
<% end %>

<p id="notice"><%= notice %></p>

<h1>Samples in <% if @project.title.nil? then %><%= current_user.firstname %>'s Project<% else %><%= @project.title %><% end %><% if policy(@project).addsample? then %>&nbsp;
<%= link_to 'New Sample', new_molecule_path(:project_id => @project.id, :library_id => @library.id), :class => "btn btn-sm btn-success" %>&nbsp;<%= link_to 'Import', import_project_path(@project.id, :type => "samples", :library_id => @library.id), :class => "btn btn-sm btn-info" %><% end %></h1>

<h2><% if policy(@library).edit? then %><%= best_in_place @library, :title, :type => :input, :path => {:id => @library.id, :controller => "libraries", :action => "update", :project_id => @project.id} %><% end %></h2>

        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">Switch Library...<span class="caret"></span></button>
            <ul class="dropdown-menu">

              <% ProjectLibrary.where(["project_id = ?", @project.id]).each do |pl| %>

                <li><a href="/samples?project_id=<%= @project.id.to_s %>&library_id=<%= pl.library.id %>"><%= pl.library.title %></a></li>

              <% end %>

            </ul>
        </div>

        &nbsp;<%= link_to 'Create sub-library', clone_library_samples_path(:project_id => @project.id, :library_id => @library.id), :class => "btn btn-sm btn-info" %>



<h3>Library format: sorted list</h3>

<%= will_paginate @project_library_entries, renderer: BootstrapPagination::Rails %>
   

<ul id="library_entries" data-update-url="<%= sort_library_library_entries_url(:library_id => @library.id, :project_id => @project.id) %>" style="float:left; list-style-type: none;">
<% @project_library_entries.each do |le| %>

<% sample = le.sample %>

<% molecule =  le.sample.molecule unless le.sample.nil? %>
  <%= content_tag_for :li, le, :style => "float:left;clear:left;" do %>

  	<table>
      <th style="width:20px;"></th>
      <th style="width:100px;"></th>
      <th style="width:300px;"></th>
      <th style="width:200px;"></th>
      <th style="width:200px;"></th>
  	<tr>
      <td><%= le.position %></td>
    <td><span class="handle"><%= render "molecules/render", :molecule => molecule, :width => "100", :height => "100" %></span></td>

    <td>
      <%=  le.name %><br>
      <small><%= link_to(sample_path(sample, :project_id => @project.id, :library_id => @library.id)) do %><span class="glyphicon glyphicon-glass" /><%=  sample.longname %><% end %></small><br>
      <% if !molecule.nil? then %><%= sample.molecule.title %><% else %>No Molecule<% end %>

      <% if !sample.reactions.first.nil? then %><br><% sample.reactions.each do |r| %><em> <%= sample.role %> in </em> <%= link_to reaction_path(r, :project_id => @project.id) do %><span class="glyphicon glyphicon-flash" /><%= r.name %><% end %><% end %><% end %>

    </td>

    <td>
      <% if !sample.target_amount.nil? && !sample.unit.nil? && !sample.weight.nil? then %>
      <%= sample.target_amount.to_s+" "+sample.unit %>  <small> (<%= sample.weight.to_s+" "+sample.unit %>) </small>
      <% end %>
    </td>

    <td><span class="glyphicon glyphicon-paperclip" /> <%= sample.datasets.length %></td>
    <td>

</td>

    <td>

        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle">Clone to...<span class="caret"></span></button>
            <ul class="dropdown-menu">

              <% ProjectLibrary.where(["project_id = ?", @project.id]).each do |pl| %>

                <li><a href="/samples/<%= sample.id.to_s %>/clone_to_library?project_id=<%= @project.id.to_s %>&library_id=<%= @library.id.to_s %>&targetlibrary_id=<%= pl.library.id.to_s %>"><%= pl.library.title %></a></li>

              <% end %>

            </ul>
        </div>

        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle">Move to...<span class="caret"></span></button>
            <ul class="dropdown-menu">

                <% ProjectLibrary.where(["project_id = ?", @project.id]).each do |pl| %>

                <li><a href="/samples/<%= sample.id.to_s %>/move_to_library?project_id=<%= @project.id.to_s %>&library_id=<%= @library.id.to_s %>&targetlibrary_id=<%= pl.library.id.to_s %>"><%= pl.library.title %></a></li>

              <% end %>

            </ul>
        </div>

      </td>

    <td><%= link_to split_sample_path(sample, :project_id => @project.id), :class => "btn btn-xs btn-default" do %><span class="glyphicon glyphicon-tint"> Split</span><% end %><br/>
      <!-- <%= link_to transfer_sample_path(sample, :project_id => @project.id), :class => "btn btn-xs btn-default" do %><span class="glyphicon glyphicon-send"> Transfer</span><% end %></td> -->



    <% if le.molecule_id.nil? then link = "#" else link = molecule end %>
    <!-- <%= library_library_entry_url(@library,link) %> -->

    </tr>

	</table>
  <% end %>
<% end %>
</ul>
