<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">

      <div class="well">

        <% @currentitem = "measurements" %>

        <%= render 'layouts/devicesmenu' %>

      </div>
    </div>
  
<% end %>

<h1>Measurements</h1>

<% if @measurements.length > 0 then %>

<table class="table table-condensed" >
<thead>

	<th>Device</th>
  <th>Dataset</th>
  <th>Sample</th>

	<th>Action</th>


</thead>

<tbody>

  <% @measurements.each do |m| %>
    <tr>
      <td>
        <% if m.device.nil? then %>
          Not assigned.
        <% else %>
          <%= m.device.name %>
        <% end %>
      </td>

        <td>
          <% if m.runs.last.nil? then %>

            No Dataset.
          <% else %>
        <% if (m.runs.last.finished) then %>

          <b><%= m.dataset.method %></b>&nbsp;-&nbsp;<%= m.dataset.title %>

        <% else %>

          Acquisition Ongoing...

        <% end %>

        <% end %>
      </td>

      <td>

        <% if !m.runs.last.nil? && !m.sample.nil? then %>

        <%= Sample.find(m.sample_id).name %>

        <% else %>

        No sample

        <% end %>
      </td>

      <td>
      	<%= link_to('<span class="glyphicon glyphicon-remove"/>'.html_safe, discard_measurement_path(m), :confirm => "Are you sure you want to discard this measurement?") %>
      </td>

      <td>

      	<% if !m.complete? then %>

  	      <%= link_to import_measurement_path(m), :class => "btn btn-warning" do %>Import<% end %>

	      <% end %>
  		</td>

      
    </tr>

  <% end %>

</tbody>
</table>


<% else %>
<p>You don't have any Measurements yet.</p>
<% end %> 